[core]
    pager = less -FX
[commit]
    template = ~/.git_commit_msg
[merge]
    ff = false
[pull]
    ff = only
[fetch]
    prune = true
[push]
    default = simple
[pager]
    log = diff-highlight | less -FX
    reflog = diff-highlight | less -FX
    show = diff-highlight | less -FX
    diff = diff-highlight | less -FX
    tag = diff-highlight | less -FX
[alias]
    alias = config --get-regexp 'alias.*'
    me = config --get-regexp 'user.*'
    lme = config --local --get-regexp 'user.*'
    st = status
    sta = status -uall
    co = checkout
    sw = switch
    base = "!f() { git sw main && git pull; };f"
    work = switch -c
    feature = "!f() { git switch -c $1 && git push origin $1; };f"
    unstage = reset HEAD
    cm = commit
    logtips = log --date=local --pretty='format:%C(yellow)%h %C(green)%cd %C(cyan)%an%C(red)%d %C(reset)%s' -16
    lgt = log --date=local --pretty='format:%C(yellow)%h %C(green)%cd %C(cyan)%an%C(red)%d %C(reset)%s' -10
    lgtopo = log --date=local --topo-order --pretty='format:%C(yellow)%h %C(green)%cd %C(cyan)%an%C(red)%d %C(reset)%s' -10
    slog = log --no-merges --date=local --pretty='format:%C(yellow)%h %C(green)%cd %C(cyan)%an%C(red)%d %C(reset)%s' -10
    rb = rebase
    rbi = rebase -i
    br = branch
    bra = branch -a
    br-clear = "!f() { git branch -d $1; git push origin :$1; };f"
    mg-revert = revert -m 1
    df-isc = diff --ignore-space-change
    df-files = diff-tree --no-commit-id --name-only -r
    ranking = "!f() { git shortlog -sn --no-merges --after='date +%Y/%m/01' --before='date +%Y/%m/%d' | cat -n; }; f"
    mile-to-main = "!f() { git fetch; git rev-list --no-merges --count ..origin/main; }; f"
    mile-to-master = "!f() { git fetch; git rev-list --no-merges --count ..origin/master; }; f"
    mile-to-dev = "!f() { git fetch; git rev-list --no-merges --count ..origin/develop; }; f"
    pushf = push --force-with-lease
    clear-feature = "!f() { git branch | grep feature | xargs git branch -d; }; f"
    tag-grep-newer = "!f() { git tag -l \"*$1*\" --sort=-creatordate; }; f"
[include]
    ; local setting
    ; - ex1: set user's name and email
    ; - ex2: override aliases or other settings
    path = ~/.local.gitconfig
[ghq]
	root = ~/go/src
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
	patterns = private_key
	patterns = private_key_id

